body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: auto;
}

header {
    background-color: #2d3c3a;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
}

.bio {
    flex: 1 1 300px;
    max-width: 500px;
    text-align: center;
    word-wrap: break-word;
    color: #c6c8c5;
    text-shadow: 2px 2px 5px #333, -2px -2px 5px #333, 2px -2px 5px #333, -2px 2px 5px #333;
}

.bio h2 {
    color: #2d3c3a;
    text-shadow: none;
}

#quote {
    color: #c6c8c5;
    text-shadow: 2px 2px 5px #333, -2px -2px 5px #333, 2px -2px 5px #333, -2px 2px 5px #333;
}

#quote-section h3 {
    color: #2d3c3a;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #2d3c3a;
    color: #c6c8c5;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    pointer-events: none;
    animation: fade 2s forwards, move 2s forwards;
    opacity: 0.8;
}

@keyframes fade {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(var(--x), var(--y));
    }
}